/* ! Schriften */
@font-face {
  font-family: Overpass;
  src: url(../font/Overpass-VariableFont_wght.ttf);
}

/* ! Allgemeine Stylings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.wrapper {
  padding: 3vw;

  font-family: Overpass, Arial, Helvetica, sans-serif;

  max-width: 1440px;
  margin: 0 auto;

  min-height: 100vh;
  /* background: url(../img/summer-hiking-man.png) 105% bottom no-repeat;
  background-size: 70%; */
  background-color: #f5fafe;
  /* background-color: #d6e6fb; */
  /* background-color: #eaf3fa; */
}

h1 {
  font-size: clamp(3rem, 4vw, 5rem);
  /* margin-bottom: 20px; */
  color: #1c4689;
}

h2 {
  font-size: clamp(3rem, 4vw, 4.8rem);
  margin-bottom: 10px;
  color: #1c4689;
}

h3 {
  font-size: clamp(2.5rem, 3.3vw, 4rem);
  color: #1c4689;
}

h4 {
  font-size: clamp(2.8rem, 3.2vw, 3.8rem);
  margin-bottom: 10px;
}

p,
a {
  font-size: clamp(2rem, 2vw, 2rem);
  margin-bottom: 10px;
  color: #1c4689;
}

img {
  max-width: 100%;
}

/* ! Header */
.error-message {
  color: #ec7d2b;
}

/* header {
  display: flex;
} */

/* ! Input Form für Stadt */
form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 70ch;
  position: relative;
}

#city-input {
  color: #29589b;
  width: 200px;
  border: none;
  padding: 5px 10px;
  border: 1px solid #29589b;
  border-radius: 10px;
}

::placeholder {
  color: #29589b;
}

select {
  display: none;
  width: 200px;
  color: #29589b;
  padding: 5px 10px;
  border-top: 1px solid #29589b;
  overflow-y: auto;
  border: none;
  border-radius: 10px;

  position: absolute;
  top: 3rem;
}

.show {
  display: block;
}

/* ! Section für den Output */
.output {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 70ch;
}

.flex-end {
  display: flex;
  align-items: flex-end;
  gap: 8rem;
}

.flex-center {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
}

.weather-data-output p:first-of-type {
  margin-top: 2rem;
}

.weather-data-output,
.main-info,
.more-info {
  text-align: center;
}

.advice-message {
  margin-top: 10px;
}

.advice-message p {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: clamp(2rem, 2.8vw, 3rem);
  width: 19ch;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.green {
  color: #81b378;
  background-color: #bfe2a790;
}

.red {
  color: #ec7d2b;
  background-color: #f8964672;
}

/* ! Header IMG */
header img {
  width: 70%;
  object-fit: contain;
}

/* # Media Queries */
/* # Media Queries Zwischengröße 1300px */
@media only screen and (max-width: 1300px) {
  header img {
    width: 60%;
  }
}

/* # Media Queries Zwischengröße 1100px */
@media only screen and (max-width: 1100px) {
  header img {
    width: 50%;
  }
}

/* # Media Queries Zwischengröße 860px */
@media only screen and (max-width: 860px) {
  h1 {
    text-align: center;
  }

  .flex-center {
    flex-direction: column;
  }

  header img {
    width: 100%;
  }
}

/* # Media Queries Mobile 567px */
@media only screen and (max-width: 567px) {
  .flex-end {
    gap: 3rem;
  }
}
